//======================================================FEATURES=======================================================
section.c-portfolio-features
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Мои преимущества:
	.c-btstrp-row.c-portfolio-features-list.c-portfolio-text-b
		mixin list-icon(vicon,vtext)
			li
				i(class=vicon)
				p=vtext
		mixin list-svg(vicon,vtext)
			li
				svg.icon
					use(href=vicon)
				//- img(src=vicon)
				p=vtext
		ul
			+list-icon("icon-handshake-o",
			"люблю помогать коллегам, обмениваться опытом")
			+list-icon("icon-group",
			"слежу за групповыми динамиками в коллективе, улучшаю процессы")
			+list-icon("icon-line-chart",
			"6 лет работал в кровавом энтерпрайзе, вырос до позиции lead frontend developer")
			+list-icon("icon-gears",
			"за 20 лет поработал в ролях: менеджера, сисадмина, архитектора и разработчика")
			+list-icon("icon-heart",
			"приятен в общении, серьёзный опыт экстремального спорта и активных увлечений")
			+list-icon("icon-sitemap",
			"умею изобретать, анализировать и проектировать, использую системное мышление")
			+list-icon("icon-building-o",
			"пишу статьи в блоге и классную документацию, создаю и развиваю онлайн сообщества")
			+list-icon("icon-comments",
			"грамотная устная и письменная русская речь, upper-intermediate(B2) speaking english level")
			+list-svg("img/git-square.svg#icon-git-square",
			"энтузиаст open-source, анализирую техдолг и процессы больших UI проектов(200к+ строк кода)")
	.c-portfolio-divider
