//======================================================FEATURES=======================================================
section.c-portfolio-features
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Мои преимущества:
	.c-btstrp-row.c-portfolio-features-list.c-portfolio-text-b
		mixin list-icon(vicon,vtext)
			li
				i(class=vicon)
				p=vtext
		mixin list-svg(vicon,vtext)
			li
				svg.icon
					use(href=vicon)
				//- img(src=vicon)
				p=vtext
		ul
			+list-icon(
			"icon-group",
			"помогаю коллегам")
			+list-icon(
			"icon-building-o",
			"отдельный кабинет для удалённой работы")
			+list-icon(
			"icon-clock-o",
			"нравится программировать, увлекаюсь со\u00A0школы")
			+list-icon(
			"icon-sitemap",
			"быстро усваиваю и\u00A0хорошо структурирую информацию")
			+list-icon(
			"icon-line-chart",
			"постоянно учусь и\u00A0расширяю кругозор, пишу статьи на\u00A0medium")
			+list-icon(
			"icon-handshake-o",
			"создаю и\u00A0поддерживаю соглашения по\u00A0коду, улучшаю процессы")
			+list-icon(
			"icon-comments",
			"грамотная устная и\u00A0письменная русская речь, intermediate english level")
			+list-svg(
			"img/git-square.svg#icon-git-square",
			"пишу человеко-понятный, модульный, структурированный, типизированный код")
			+list-icon(
			"icon-heart",
			"энтузиаст, приятен в\u00A0общении, серьёзный опыт экстремального спорта и\u00A0общественной работы")
			+list-icon(
			"icon-gears",
			"знаю как работают руководитель, аналитик, архитектор, дизайнер, фронтовик, тыловик и\u00A0девопс")
			//"знаю как работают клиент(front), сервер(back), инфраструктура(platform)")
	.c-portfolio-divider
