//======================================================FEATURES=======================================================
section.c-portfolio-features
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Мои преимущества:
	.c-btstrp-row.c-portfolio-features-list.c-portfolio-text-b
		mixin list-icon(vicon,vtext)
			li
				i(class=vicon)
				p=vtext
		mixin list-svg(vicon,vtext)
			li
				svg.icon
					use(href=vicon)
				//- img(src=vicon)
				p=vtext
		ul
			+list-icon("icon-group",
			"помогаю коллегам")
			+list-icon("icon-building-o",
			"отдельный кабинет для удалённой работы")
			+list-icon("icon-sitemap",
			"быстро усваиваю и хорошо структурирую информацию")
			+list-icon("icon-clock-o",
			"более 5 лет опыта enterprise frontend Angular разработки")
			+list-icon("icon-handshake-o",
			"создаю и поддерживаю соглашения по коду, улучшаю процессы")
			+list-icon("icon-line-chart",
			"постоянно расширяю кругозор, пишу статьи и открытый код, веду базу знаний")
			+list-svg("img/git-square.svg#icon-git-square",
			"пишу человеко-понятный, модульный, структурированный, типизированный код")
			+list-icon("icon-comments",
			"грамотная устная и письменная русская речь, upper-intermediate(B2) speaking english level")
			+list-icon("icon-heart",
			"энтузиаст, приятен в общении, серьёзный опыт экстремального спорта и активных увлечений")
			+list-icon("icon-gears",
			"знаю как работают руководитель, аналитик, архитектор, дизайнер, фронтовик, тыловик и девопс")
	.c-portfolio-divider
